<!DOCTYPE html>
<html lang="en">
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="/user/{{ name }}">Home</a></li>
  <li><a class="active" href="/entermark">Marks</a></li>
    <li><a href="/subs">EnteredMarks</a></li>

</ul>
    <h3>Enter you marks</h3>
    <form action="/subs" method="POST">
        <p><h3>Physics</h3></p>
        <p><input type="text" name="phy"/></p>
        <p><h3>Chemistry</h3></p>
        <p><input type="text" name="che"/></p>
        <p><h3>Mathematics</h3></p>
        <p><input type="text" name="math"/></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>